body {
  font-family: 'Manrope', sans-serif;
  margin: 0;
  background-color: #181818;
  color: white;
}
h2, h3 {
  font-family: 'Comfortaa', cursive;
  color:#FCAD01;
  text-align: center;
  text-transform: uppercase;
}
h1 {
  font-family: 'Bayon';
  letter-spacing: 0.1em;
  font-size: 2.5em;
  text-align: center;
  text-transform: uppercase;
}
#about {
  padding: 50px 300px;
}

.about-header h1 {
  padding: 0px 200px;
  font-size: 2.5em;
}
.about-content {
  display: flex;
  align-items: start; /* Aligns the top of the text with the top of the image */
  margin-top: 20px;   /* Adds some space between the headers and the content */
  font-size: 1.3em;
}

.about-content p {
  flex: 1;
  margin-right: 20px;
}

#about img {
  max-width: 50%; /* Adjust as needed */
  height: auto;
}

.full-page-header {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(57,57,57);
  background: radial-gradient(circle, rgba(57,57,57,1) 0%, rgba(24,24,24,1) 100%);
}
.toplogo {
  max-width: 30%;
  display: block;
  margin: 0 auto;
}

.lefthex {
  position: absolute;
  top: 0;
  left: 0; 
  opacity: 20%;
}

.righthex {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 20%;
}
.lefthex2 {
  position: absolute;
  top: -200px;
  left: -200px; 
  width:60%;
}

.righthex2 {
  position: absolute;
  top: -200px;
  right: -200px;
  width:60%;
}
nav {
  background-color: #181818;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  transition: color 0.3s;
  font-family: 'Bayon';
  font-size: 1.7em;
}

nav a:hover {
  color: #FCAD01;
}

section {
  padding: 50px 20px;
}

#portfolio {
  padding: 0px 300px;
  text-align: center; /* Center the h3 and h1 */
}
.portfolio-header h1 {
  padding: 0px 200px;
  font-size: 2.5em;
}

.portfolio-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.portfolio-item img {
  max-width: 100%;
  border-radius: 10px;
}

#portfolio h3 {
  line-height: 0.2em;
}
.portfolio-content h1 {
  font-size: 1.5em;
}

#portfolio p {
  text-align: center;
  color: #707070;
}

.col h3 {
  text-align: left;
}
.services-1 {
  padding: 0 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px;
}
.services-1 ul{
  line-height: 1.7em;
}
.services-2 {
  padding: 0 300px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.services-2 img {
  margin: auto;
  max-width: 20%;
  display: flex;
  justify-content: center;
}
.services-2 h2 {
  color: white;
}
.services-2 p {
  text-align: center;
  color: #707070;
  line-height: 1.7em;
}
#contact {
  padding:  0px;
}

.contact-header {
  text-align: center;
}

.contact-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.contact-details {
  
}
.contact-image img {
  max-width: 100%;
}
#contact .contact-body .contact-details img {
  color: #FCAD01;
  max-width: 50px;
  margin: auto;
  display: flex;
}
.contact-details h2 {
  text-align: center;
  color: white;
  font-size: 1em;
}
.contact-details p {
  text-align: center;
  color: #707070;
}
.contact-details button {
  margin: auto;
  display: flex;
  border: 0px;
  background-color: #FCAD01;
  border-radius: 5px;
  padding: 10px;
  font-family: Comfortaa;
  font-size: 1em;
  font-weight: 800;
  cursor: pointer;
}
.contact-details button:hover {
  background-color: #dd7d00
}


footer {
  background-color: #111111;
  padding: 0 20px 20px;
  text-align: center;
}

footer img {
  max-width: 10%;
  display: flex;
  margin: auto;
}

a {
  color: #ffffff;
  transition: color 0.3s;
  text-decoration: none;
  font-size: 0.9em;
}

a:hover {
  color:#FCAD01;
}

footer p {
  font-size: 0.9em;
}
